/* Import Local SCSS Files */
@import "./reset.scss", "./variables.scss", "./fonts.scss";

* {
    font-family: $primary-kr;
    color: $dark-black;
}
body {
    font-weight: 300;
    margin: 0;
    font-size: 15px;
}

/* Common SCSS */
section:not(.front-slider) {
    padding: 65px 0;
}

[class*="inner"] {
    width: 1160px;
    margin: auto;
}

.front-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $secondary-kr;
    height: 50px;
    margin-bottom: 20px;
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    a {
        font-size: 14px;
        color: $dim-black;
    }
}
